shra
*.pyc
.env
logging_dockerfile_code.txt
*.ipynb
__pycache__
*.json
*.pickle
*.zip
LogginService/__pycache__/dbconfig.cpython-38.pyc
hack
venv
avdx

**/Dockerfile

vid.mp4
imageproducer.py
bootstrap.py

