<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>End User Homepage</title>
</head>
<body>
    <h1>Schedule Applications</h1>
    <form id="end_user_form" action="/end_user" method="POST" enctype="multipart/form-data">
        <label for = "apps">Application Name: </label>
        <input list="apps" name="app">
        <datalist id="apps">
        {% for i in apps %}
        <option value="{{ i }}">
        {% endfor %}
        </datalist>
        <br>
        <br>
        <label for="starttime">Start Date and Time:</label>
        <input type="datetime-local" id="starttime" name="starttime">
        <br>
        <br>
        <label for="endtime">End Date and Time:</label>
        <input type="datetime-local" id="endtime" name="endtime">
        <input type="submit">
      </form>
</body>
</html>