<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/default.css">
    <title>Notifications</title>
    <style>
        .pagination {
            display: flex;
            justify-content: center;
        }

        .pagination li {
            display: block;
        }
    </style>
    <script>
        function logout() {
            sessionStorage.removeItem('user_token');
            sessionStorage.clear();
            window.location.href = '/'
        }
        function platform_admin_homepage() {
            window.location.href = '/platform_admin?token='+sessionStorage.getItem('user_token')
        }
    </script>

</head>

<body>

    <div class="topnav">
        <a class="active">Hello, Admin</a>

        <button type="submit" class="btn" onclick="logout()"
            value="LogIn" style="float: right;">LogOut</button>
        <button type="submit" onclick="platform_admin_homepage()" class="btn"
            value="back" style="float: right;">Back</button>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">

                <h2 class="text-center text-dark mt-5">Notifications</h2>
                <div class="card my-5">
                    <nav aria-label="filters">
                        <ul class="pagination">
                            <li class="page-item"> <a class="page-link" href="/platform_admin/notification/{{page-1}}">All</a>
                            </li>
                            <li class="page-item"> <a class="page-link" href="/platform_admin/notification/{{page-1}}">Info</a>
                            </li>
                            <li class="page-item"> <a class="page-link" href="/platform_admin/notification/{{page-1}}">Warning</a>
                            </li>
                            <li class="page-item"> <a class="page-link" href="/platform_admin/notification/{{page-1}}">Error</a>
                            </li>
                            
                        </ul>
                    </nav>

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for notification in notifications %}
                            <tr>
                                <th scope="row">{{ loop.index }}</th>
                                <td>{{ notification.username }}</td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>

                    <nav aria-label="notifications">
                        <ul class="pagination">
                            {% if prev %}
                            <li class="page-item"> <a class="page-link" href="/platform_admin/notification/{{prev}}">Previous</a>
                            </li>
                            {% else %}
                            <li class="page-item"><a class="page-link btn disabled" href="#">Previous</a></li>
                            {% endif %}


                            {% if next %}
                            <li class="page-item"> <a class="page-link" href="/platform_admin/notification/{{next}}">Next</a></li>
                            {% else %}
                            <li class="page-item"><a class="page-link btn disabled" href="#">Next</a></li>
                            {% endif %}

                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>






</body>

</html>