<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/default.css">
    <title>Schedule Application</title>
</head>

<script>
    function append_token() {
        // var curr_api=document.getElementById("upload_form").getAttribute("action")
        curr_api = $('#upload_form').attr('action');
        console.log(curr_api)
        console.log(sessionStorage.getItem("user_token"))
        // document.getElementById("upload_form").setAttribute=curr_api+"?token="+sessionStorage.getItem("token")
        $('#upload_form').attr('action', curr_api + "?token=" + sessionStorage.getItem("user_token"));
    }
    function logout(){
        sessionStorage.removeItem('user_token');
        sessionStorage.clear();
        window.location.href='/'
    }
</script>

<body onload="append_token()">
    <div class="topnav">
        <a class="active">Hello, User</a>
        <button type="submit" class="btn" onclick="logout()"
            value="LogIn" style="float: right;">LogOut</button>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center text-dark mt-5">Schedule Applications</h2>
                <div class="card my-5">
                    <form class="card-body cardbody-color p-lg-5" action="/end_user/sensor_bind" id="upload_form"
                        method="post" enctype="multipart/form-data">

                        {% if app_name %}
                        <input type="text" value="{{ app_name }}" name="app_name" hidden>
                        {% endif %}

                        {% if sensors%}
                        {% for i in range(sensors|length) %}
                        <h3>Sensor {{i+1}}</h3>
                        <label>Sensor DataType: {{ sensors[i]['datatype'] }}</label><br>
                        <label>Sensor Type: {{ sensors[i]['type'] }}</label>
                        
                        <div class="mb-3">
                            <label for="locations_{{i}}">Locations: </label>
                            <!-- <input list="apps" name="app"> -->
                            <select id="locations_{{i}}" name="locations_{{i}}">

                                {% for j in range(sensors[i]['locations']|length) %}
                                <option value="{{ sensors[i]['locations'][j]['sensor_bind_id'] }}">{{ sensors[i]['locations'][j]['loc'] }}</option>
                                {% endfor %}

                            </select>
                        </div>

                        <hr>
                        {% endfor %}
                        

                </div>
                {% endif %}

                <hr>
                <div class="mb-3">
                    <label for="starttime">Start Date and Time:</label>
                    <input type="text" id="starttime" name="starttime" placeholder="DD/MM/YY HH:MM:SS">
                </div>
                <div class="mb-3">
                    <label for="endtime">End Date and Time:</label>
                    <input type="text" id="endtime" name="endtime" placeholder="DD/MM/YY HH:MM:SS">
                </div>
                <div class="mb-3">
                    <label for="repetition">Repetition:</label>
                    <input type="text" id="repetition" name="repetition">
                </div>
                <div class="mb-3">
                    <label>Interval</label>
                </div>
                <div class="mb-3">
                    <label for="Day">Days:</label>
                    <input type="text" id="Day" name="Day">
                </div>
                <div class="mb-3">
                    <label for="Hour">Hours:</label>
                    <input type="text" id="Hour" name="Hour">
                </div>
                <div class="mb-3">
                    <label for="Minute">Minutes:</label>
                    <input type="text" id="Minute" name="Minute">
                </div>
                <div class="mb-3">
                    <label for="Second">Seconds:</label>
                    <input type="text" id="Second" name="Second">
                </div>
                <div class="text-center"><button type="submit" class="btn btn-color px-5 mb-5 w-100">Schedule
                        Application</button></div>

                {% if err_msg %}
                <div class="alert alert-danger" role="alert" id="login_err_msg" style="display: block;">{{ err_msg }}
                </div>
                {% endif %}

                {% if succ_msg %}
                <div class="alert alert-success" role="alert" id="login_succ_msg" style="display: block;">{{ succ_msg }}
                </div>
                <a href="{{url}}" target="_blank">Link to Use app</a>
                {% endif %}

                </form>
            </div>


        </div>
        <!-- <div class="row">
            <div class="col">
                <div class="col-md-2">
                    <button type="submit" class="btn btn-color px-5 mb-5 w-100" onclick="logout()" value="LogIn">LogOut</button>
                </div>
            </div>
        </div> -->
    </div>
    </div>
</body>

</html>