<html>

<head>
    <title> Signup!</title>
    <link rel="stylesheet" href="../static/default.css">
</head>

<body>
    <h1>
        Join our platform
    </h1>
    <p> It's Free! 👍</p>
        <form class="main-form" method="post" enctype="multipart/form-data">
            <table border="black" width="100%">
                <tr>
                    <td>
                        <label for="user">Username</label>
                    </td>
                    <td colspan="2">
                        <input type="text" id="user" name="username" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="pass">Password</label>
                    </td>
                    <td colspan="2">
                        <input type="password" id="pass" name="password" />
                    </td>
                </tr>
            </table>
            <input type="submit" value="Login"/>
        </form>
</body>

</html>