.btn-color{
  background-color: #0e1c36;
  color: #fff;
  
}
.btn-color:hover {
background-color: #ddd;
color: black;
}

.table{
margin-top: 60px;
}
.profile-image-pic{
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.cardbody-color{
  background-color: #ebf2fa;
}

a{
  text-decoration: none;
  color: green;
}

body {
  background-image: url('https://www.wallpapertip.com/wmimgs/171-1719824_light-background-image-css.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
}
.container {
margin-top: 60px;
}
.topnav {
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav p {
  float: left;
  color: #f2f2f2;
  padding: 10px 14px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: rgb(248, 248, 248);
  color: black;
}

.topnav a.active {
  background-color: #10573d;
  color: white;
}

.btn {
  padding: 14px 16px;
  background-color: #0e1c36;
  color: #fff;
}
.btn:hover {
  background-color: #ddd;
  color: black;
}