.btn-color{
  background-color: #0e1c36;
  color: #fff;
   
}
.btn-color:hover {
background-color: #ddd;
color: black;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.slider {
  width: 400px;
  height: 400px;
  display: flex;
  margin: auto;
  overflow-x: auto;
  /* -webkit-overflow-scrolling: touch; */

  /* scroll-snap-type: x mandatory; */
}
.slide {
  width: 400px;
  flex-shrink: 0;
  height: 100%;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.table{
margin-top: 60px;
}
.profile-image-pic{
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.cardbody-color{
  background-color: #ebf2fa;
}
.card{

  height: 380px;

}
a{
  text-decoration: none;
  color: green;
}

body {
  background-image: url('https://www.wallpapertip.com/wmimgs/171-1719824_light-background-image-css.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
}
.container {
margin-top: 60px;
margin: auto;
width: 60%;
padding: 10px;
}
.topnav {
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav p {
  float: left;
  color: #f2f2f2;
  padding: 10px 14px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: rgb(248, 248, 248);
  color: black;
}

.topnav a.active {
  background-color: #10573d;
  color: white;
}

.btn {
  padding: 14px 16px;
  background-color: #0e1c36;
  color: #fff;
}
.btn:hover {
  background-color: #ddd;
  color: black;
}